@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: hidden; /* Disable scrolling */
}

/* OR for hiding scrollbars but allowing scrolling */
html,
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}
